<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> 404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>


    <div class="main-content">
        {{>header}}
        <p>{{errorMsg}}</p>
    </div>

    {{>footer}}
</body>
</html>
