<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Hayden Haaddad. It uses data from mapbox.com and darksky.net</p>
        <img class:"portrait" src="/img/hh.png">
    </div>

    {{>footer}}
</body>
</html>